- if extracted?(model.parent)
  :javascript
    function redirect_cancel(element) {
      window.location = "#{url_for index_page_for_model_with_extract}"
      event.stop()
    }

    $$('#content .buttons a').invoke('observe', 'click', redirect_cancel)
